.header {
	line-height: 50px;
	vertical-align: middle;
}
.header-left {
	font-size: 20px;
}
.header-right {
	font-size: 16px;
}
.mr {
	display: inline-block;
	margin: 0 4px;
}
.header-right {
	text-align: right;
}
.ant-btn {
    margin-right: 8px;
    margin-bottom: 12px;
}
